

$x-mycompany-checkout-button--border-radius: var(--x-mycompany-checkout-button--border-radius, $now-actionable--border-radius);
$x-mycompany-checkout-button--color: var(--x-mycompany-checkout-button--color, $now-color_text--tertiary);
$x-mycompany-now-card_sidebar--primary_info--background-color: var(--x-mycompany-now-card_sidebar--primary_info--background-color,$now-color_alert--high-1);
